/*Style for overall html*/
html{
    scroll-behavior: smooth;
    background-color: #011e3c;
}
/*Section styling*/
section{
    font-size: 18pt;
    padding: 2.5%;
}
/*Header styling*/
header{
    display: flex;
    width: 100%;
    height: 125px;
    align-items: center;
    padding: 5px;
}
header div{
flex-grow: 1;
height:115px;
width: auto;
}
header img{
    height: 100%;
    width: auto;
}
header menu{
    list-style: none;
    display: flex;
}
header menu li{
    padding: 0 10px;
}
header menu li a{
    font-family: Special Elite;
    font-size: 20pt;
    text-decoration: none;
    color: #c5d2da;
}
/*Style for h1 through h3*/
h1, h2, h3{
    text-align: center;
}
h2, h3{
    font-family: Special Elite;
}
h1{
    font-family: Oleo Script;
    padding-top: 5px;
    font-size: 40px;
    color: gold;
    font-weight: 600;
    margin-top: 15px;
}
h2{
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
}
h3{
    font-size: 20px;
    margin-bottom: 25px;
}
section h2{
    font-weight: 800;
    font-style: oblique;
}
/*Style for paragraphs*/
p{
    font-family: Special Elite;
}

/*Styles the overall lyrics of the song*/
.lyrics{
    display: flex;
    flex-direction: column;
    color: #c5d2da;
    background-image: url(../images/blue_gradient_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Styles the first letter of every word */
.start{
    font-family: Oleo Script;
    font-size: 50px;
    color: gold;
}

/*Style for every section*/
.sectionOne, .sectionTwo, .sectionThree, .sectionFour{
    text-align: center;
    display: flex;
    
}

/*Style for section one*/
.sectionOne{
   flex-direction: row;
   justify-content: space-evenly;
   margin-bottom: 150px;
}
.sectionOne img{
    width: 50%;
    height: auto;
    align-self: flex-end;
}

/*Style for section two*/
.sectionTwo{
    flex-direction:row-reverse;
    justify-content: space-evenly;
    margin-bottom: 150px;
}
.sectionTwo img{
    width: 50%;
    height: auto;
    align-self: flex-end;
}

/*Style for section three*/
.sectionThree{
    flex-direction:row;
    justify-content: space-evenly;
    margin-bottom: 150px;

}
.sectionThree img{
    width: 50%;
    height: auto;
    align-self: flex-end;
}
/*Style for section four*/
.sectionFour{
    flex-direction:row-reverse;
    justify-content: space-evenly;
    margin-bottom: 150px;
}
.sectionFour img{
    width: 50%;
    height: auto;
    align-self: flex-end;
}
/*Style for the special words in each verse & bridge*/
.special{
    font-family: Oswald;
    color: gold;
}
/*Style for youtube video*/
.youtube-video{
    display: flex;
    width: 100% ;
    height: 720px;
}
